botocore==1.29.99
cottoncandy==0.2.0
h5py==3.6.0
imageio==2.9.0
matplotlib==3.5.1
msgpack_python==0.5.6
nibabel==5.0.1
numpy==1.19.0
opencv_python==4.7.0.72
pandas==1.4.1
Pillow==9.4.0
plotly==5.13.1
pupil_detectors==2.0.2
pupil_recording_interface==0.5.0
pydra==0.22
PyYAML==6.0
scikit_learn==1.2.2
scipy==1.8.0
six==1.16.0
skimage==0.0
torch==2.0.0
torchvision==0.15.1
tqdm==4.65.0
